.titulo {
  color: var(--blanco);
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0.5rem;
}

.navigation li {
  margin: 0.5rem 1rem;
}

.navigation li a {
  text-decoration: none;
  color: var(--blanco);
  font-weight: bold;
}

.navigation li a:hover {
  color: var(--negro);
}

@media (min-width: 768px) {
  .navigation {
    flex-wrap: nowrap;
  }
}

@media (min-width: 1024px){ 
  .navigation li {
    font-size: 1.15rem;
  }
}